<h1>Quiz</h1>
<div class="row">
    <div class="col-sm-12"> 
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="filterChanged($event)" [value]="filter" appSetFocus>
        </mat-form-field>
        <div *ngIf="isTeacher" class="" >
            <p> teacher </p>

            <quizTeacher [filter]="filter"></quizTeacher>
        </div>



        <div *ngIf="!isTeacher" class="" >
            <quizTraining [filter]="filter" [isTest]="false"></quizTraining>
            <quizTraining [filter]="filter" [isTest]="true"></quizTraining>
        </div>
        

    </div>

</div>

<button *ngIf="isTeacher" (click)="newQuiz()" class="btn btn-info"><mat-icon>add_circle</mat-icon></button>