<h2>Quiz de test</h2>
<div class="row">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let quiz">{{ quiz.name }}</td>
        </ng-container>
        <!-- database Column -->
        <ng-container matColumnDef="database">
            <th mat-header-cell *matHeaderCellDef>Database</th>
            <td mat-cell *matCellDef="let quiz">{{ quiz.database.name }}</td>
        </ng-container>
        <!-- Start Column -->
        <ng-container matColumnDef="start" >
            <th mat-header-cell *matHeaderCellDef>Start</th>
            <td mat-cell *matCellDef="let quiz">{{ quiz.start | date:'dd/MM/yyyy'}}</td>
        </ng-container>
        <!-- Finish Column -->
        <ng-container matColumnDef="finish">
            <th mat-header-cell *matHeaderCellDef>Finish</th>
            <td mat-cell *matCellDef="let quiz">{{ quiz.finish | date:'dd/MM/yyyy' }}</td>
        </ng-container>
        <!-- statut Column -->
        <ng-container matColumnDef="statut" >
            <th mat-header-cell *matHeaderCellDef>statut</th>
            <td mat-cell *matCellDef="let quiz">{{ quiz.statut}}</td>
        </ng-container>
        <ng-container matColumnDef="evaluation" >
            <th mat-header-cell *matHeaderCellDef>evaluation</th>
            <td mat-cell *matCellDef="let quiz"> FAIRE EVAL</td>
        </ng-container>
        <!-- Test Column -->
        <ng-container matColumnDef="isTest">
            <th mat-header-cell *matHeaderCellDef>Is Test</th>
            <td mat-cell *matCellDef="let quiz">{{ quiz.isTest ? 'Yes' : 'No' }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let row">
                <a (click)="attempt(row.id)"><mat-icon>edit</mat-icon></a>
                <a (click)="edit(row)"><mat-icon>comment</mat-icon></a>

            </td>
           
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <mat-paginator [pageSize]="5" [pageSizeOptions]="[3, 5, 10, 25, 100]"></mat-paginator>

    </table>
</div>