<!-- le ? permet d'aller chercher la question que quand on la reçoit -->
<div class="top">
    <div class="left">
        <button type="button" (click)="prevQuestion()">&lt;</button>
        <button type="button" (click)="nextQuestion()">&gt;</button>
    </div>
    <h1>question  {{ question?.order }} du {{ question?.quizName}}</h1>
    <button type="button" (click)="exit()" class="exit">&times;</button>
</div>
<p class="exo"> {{ question?.body}} </p>
<!-- mettre un parametre avec le database name et return les col et data dans le cod-editor component -->

<code-editor #editor [(ngModel)]="query" [database]="database" ></code-editor> 

<div class="action" *ngIf="!isreadonly">
    <button (click)="envoyer(true)"   >Envoyer    </button>
    <button (click)="delete()"    >Effacer    </button>
    <button *ngIf="!isTest" (click)="voirSoluce()">Voir soluce</button>
</div>
<p>
    {{ timeStamptQuery ? (timeStamptQuery | date:'dd/MM/yyyy H:mm:ss') : '' }}
</p>
<div *ngIf="!isTest || isRead">

    <p class="correct" *ngIf="correctQuery">
        {{correctMessage}}
    </p>
    <div class="errors" *ngIf="badQuery">
        <p><b>ERROR :</b></p>
        <ul>
            <li *ngFor="let error of errors">
                <p>{{ error }}</p>
            </li>
        </ul>
    </div>
    

    <table>
        <thead>
            <tr>
                <th *ngFor="let column of columnTable "> {{column}}</th>
            </tr>
        </thead>
        <tr *ngFor="let row of dataTable">
            <td *ngFor="let data of row">
                {{ data }}
            </td>
        </tr>
    </table>
    <div  *ngIf="showSoluce">
        <p class="soluceTitle"><b>SOLUCES : </b></p>
        <div class="soluce" *ngFor="let solution of solutions">
           <pre> {{ solution }}</pre>
        </div>
    </div>
</div>

