<!-- le ? permet d'aller chercher la question que quand on la reçoit -->
<div class="top">
    <div class="left">
        <button type="button" (click)="prevQuestion()">&lt;</button>
        <button type="button" (click)="nextQuestion()">&gt;</button>
    </div>
    <h1>question  {{ question?.order }} du {{ question?.quizName}}</h1>
    <button type="button" (click)="exit()" class="exit">&times;</button>
</div>
<p class="exo"> {{ question?.body}} </p>

<code-editor #editor [(ngModel)]="query" ></code-editor>

<div class="action">
    <button (click)="envoyer()"   >Envoyer    </button>
    <button (click)="delete()"    >Effacer    </button>
    <button *ngIf="!isTest" (click)="voirSoluce()">Voir soluce</button>
</div>

<p class="correct" *ngIf="correctQuery">
    Votre requête a retourné une réponse correcte ! 
    <br>
    Néanmoins, comparez votre solution avec celle(s) ci-dessous pour voir si vous n'avez pas eu un peu de chance :)
</p>
<div class="errors" *ngIf="badQuery">
    <p><b>ERROR :</b></p>
    <div  *ngFor="let error of errors">
        <p>{{ error }}</p>
    </div>
</div>

<div *ngIf="!isTest">
    <table>
        <thead>
            <tr>
                <th *ngFor="let column of columnTable "> {{column}}</th>
            </tr>
        </thead>
        <tr *ngFor="let row of dataTable">
            <td *ngFor="let data of row">
                {{ data }}
            </td>
        </tr>
    </table>
    <div  *ngIf="showSoluce">
        <p class="soluceTitle"><b>SOLUCES : </b></p>
        <div class="soluce" *ngFor="let solution of solutions">
            <p>{{ solution }}</p>
        </div>
    </div>
</div>

